# Flutter
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages

# Node
backend/node_modules/
backend/dist/
backend/.env

# IDE
.idea/
*.iml
.vscode/

.DS_Store
Thumbs.db
